<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.photomapp.luisalfonso.photomapp" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="com.photomapp.luisalfonso.photomapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.ActivityPrincipal"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.ActivityPreferencias"
            android:parentActivityName=".Activities.ActivityPrincipal"
            android:label="@string/preferencias"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ActivityPrincipal" />
        </activity>
        <activity
            android:name=".Activities.ActivityMapa"
            android:parentActivityName=".Activities.ActivityPrincipal"
            android:label="@string/mapa"
            android:windowSoftInputMode="adjustNothing"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ActivityPrincipal" />
        </activity>
        <activity
            android:name=".Activities.ActivitySplash"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.photomapp.luisalfonso.photomapp"
            android:name=".data.PhotoMappProvider"
            android:exported="false">
        </provider>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/maps_API_key" />
    </application>

</manifest>
